body    {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


h1  {
    font-size: 60px;
    text-align: center;
}

#interior   {
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#nav-bar {
    font-size: 20px;
    text-align: center;
}

.barLink    {
    padding: 20px;
    background-color: skyblue;
    margin: 0px 20px 0px 20px;
    border-radius: 30px;
}

a:link  {
    color: white;
    text-decoration: none;
}

a:visited   {
    color: white;
}

a:hover{
    color:black;
}